.contact {
    margin-top: 70px;
    padding-bottom: 300px;

    a {
        text-decoration: 2px solid underline;
        transition: .3s ease;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }
}

.contactMe {
    display: flex;

    li {
        margin: 20px 0;
    }

    li:not(:first-of-type) {
        margin-left: 20px;
    }

    i {
        transition: transform .2s;
    }

    i:hover,
    i:focus {
        cursor: pointer;
        transform: scale(1.2);
    }
}