//WRAPPER
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
}

//STRIPPING STYLES
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

body {
    background-color: rgb(217, 152, 162);
}

// NAV STYLES
.navUl {
    display: flex;
    justify-content: flex-end;

    li {
        margin: 20px;

        a:hover,
        a:focus {
            text-decoration: 2px solid underline;
        }
    }
}

// hamburger button
.hamburger {
    display: none;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    .closeIcon {
        display: none;
    }
}


//FOOTER STYLES

footer p {
    font-size: .8rem;
    text-align: center;
    padding: 10px;


    span {
        font-style: italic;
    }
}