@use './variables';

//WRAPPER
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
}

//STRIPPING STYLES
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

body {
    background-color: variables.$background;
}

// NAV STYLES
header {
    padding: 10px 0;
}


.name {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    transition: .3s ease;
}

.navUl {
    display: flex;
    justify-content: center;

    li {
        margin: 20px;
        font-weight: bold;

        a:hover,
        a:focus {
            text-decoration: 2px dotted variables.$red underline;
        }
    }
}

// hamburger button
.hamburger {
    display: none;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    .closeIcon {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}