@use './variables';

//WRAPPER
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
}

//STRIPPING STYLES
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}

.lighttouchImg {
    // margin: 0 auto;
    max-width: 30%;
    border: 2px rgb(207, 199, 199) solid;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

body {
    background-color: variables.$background;
}

// NAV STYLES
header {
    padding: 10px 0;
}


.harlequin {
    display: flex;
    justify-content: flex-start;

    a {
        max-width: 150px;
        margin-right: 5px;
    }

    img {
        transition: .3s ease;
    }
}

.name {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    a {
        width: 400px;
        transition: .3s ease;
    }

}

.navUl {
    display: flex;
    justify-content: center;

    li {
        margin: 20px;
        font-weight: bold;

        a:hover,
        a:focus {
            text-decoration: 2px dotted variables.$red underline;
        }
    }
}

.current-page {
    text-decoration: 2px dotted variables.$red underline;
}

// hamburger button
.hamburger {
    display: none;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    .closeIcon {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

#portfolio {
    a {
        color: variables.$red;
        text-decoration: none;
    }

    p {
        margin: 10px 0;
        width: 80%;
        transition: .3s ease;
    }

    a:hover,
    a:focus {
        text-decoration: 2px dotted variables.$red2 underline;
    }

    .projectImg {
        margin-right: 30px;
        width: 400px;
        position: relative;
        transition: .3s ease;

    }
}