@use './variables';

.overlay {
    opacity: .4;
    position: absolute;
    z-index: -100;
}

.introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 20px;

    h1 {
        margin-top: 70px;
    }
}


.home {
    p {
        margin: 10px 0;
        width: 80%;
        transition: .3s ease;
    }

    h2 {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    margin-top:20px;
    margin-bottom:70px;
}

.bio {

    span {
        font-family: variables.$h1;
        text-decoration: underline dotted variables.$red;
    }
}

.purple {
    width: 200px;
    height: 200px;
    background-color: #e7caf2;
    margin: 30px auto;
    border-radius: 50%;
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}