@use './variables';

.overlay {
    opacity: .4;
    position: absolute;
    z-index: -100;
}

.introText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 3px solid;
    margin-bottom: 20px;

    h1 {
        margin-top: 70px;
    }
}

.introImg {
    width: 100%;
    margin-top: 20px;
    transition: .3s ease;
}

.introFlex {
    display: flex;

    .introText {
        width: 75%;
    }
}

.home {
    p {
        margin-top: 10px;
        margin-bottom: 8px;
        width: 80%;
        transition: .3s ease;
    }

    span {
        font-family: variables.$h1;

        &:hover {
            text-decoration: underline dotted tomato;
            cursor: crosshair;
        }
    }

    margin-bottom:20px;
}