.introText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;

    h1 {
        margin-top: 10%;
    }
}

.introFlex {
    display: flex;

    .introImg {
        width: 25%;
        align-self: center;
        min-width: 170px;
        position: relative;
        top: 30px;
    }

    .introText {
        width: 75%;
    }
}

.home {

    p {
        margin-bottom: 8px;

        span {
            font-family: 'Averia Serif Libre', cursive;
            cursor: crosshair;

            &:hover,
            &:focus {
                color: darkolivegreen;
            }
        }
    }
}