@use './variables';

@media (max-width:950px) {

    // bio
    .introText {
        h1 span {
            display: block;
        }
    }

    //projects
    .projectsList {
        li {
            width: 100%;
        }
    }
}

@media (max-width:900px) {

    //hamburger menu
    .hamburger {
        display: block;
    }

    .navUl {
        transform: translateY(-100%);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-right: 35px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background: variables.$hamburger;
        color: variables.$white;
        z-index: 100;
    }

    .showMenu {
        transform: translateY(0);
    }

    // bio
    .introText {
        h2 {
            font-size: 1.2rem;
        }
    }

    // skills
    .skills ul {
        li {
            width: calc((100%/3) - 40px);
        }
    }
}

@media (max-width:700px) {

    // bio
    .introText {
        h1 {
            font-size: 2.5rem;
            margin-top: 20%;
        }

        h2 {
            font-size: 1rem;
        }
    }

    // projects
    .projectsList {
        li {
            flex-direction: column;
        }

        .projectImg {
            width: 250px;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .projectDesc {
            width: 100%;
        }

        .projectsSkills {
            margin-top: 15px;
        }
    }
}


@media (max-width:570px) {

    // bio
    .introFlex {
        position: relative;

        .introImg {
            position: absolute;
            right: -30px;
        }

        .introText {
            width: 100%;
        }
    }

    .introText {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1rem;
        }
    }

    // skills
    .skills ul {
        li {
            width: calc((100%/2) - 40px);
        }
    }
}

@media (max-width:450px) {

    // bio
    .introFlex {
        .introImg {
            display: none;
        }
    }
}

@media (max-width:375px) {

    // bio
    .introText {
        h2 span {
            display: block;
        }
    }

    // projects
    .projectsList {
        li {
            padding: 10px;
        }

        .projectImg {
            width: 230px;
        }
    }
}