@media (max-width:700px) {
    .introFlex {
        h1 {
            font-size: 2.5rem;

            span {
                display: block;
            }
        }
    }


}

@media (max-width:900px) {
    .skills ul {
        li {
            width: calc((100%/3) - 40px);
        }
    }
}

@media (max-width:560px) {
    .skills ul {
        li {
            width: calc((100%/2) - 40px);
        }
    }
}