.projects {
    margin-top: 70px;
}

.projectsList {
    img {
        border-radius: 25px;
        object-position: 4px;
    }

    li {
        background-color: rgb(231, 173, 183, .5);
        border-radius: 30px;
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        align-items: center;
        transition: .3s ease;
    }

    .projectImg {
        margin-right: 30px;
        width: 350px;
    }

    .projectDesc {
        width: 60%;
        transition: .3s ease;
    }
}

.projectsSkills {
    font-family: 'Averia Serif Libre', cursive;
    font-size: .9rem;
    margin-top: 10px;
}

.linksBox {
    margin-top: 10px;
    font-family: 'Averia Serif Libre', cursive;
    text-align: center;

    .liveLink {
        margin-right: 10px;
    }

    a {
        display: inline-block;
        transition: .3s ease;
        background-color: rgb(217, 152, 162);
        padding: 5px 8px;
        border-radius: 10px;
    }

    a:hover,
    a:focus {
        background-color: pink;
    }
}