@use './variables';

.projects {
    margin-top: 70px;
    margin-bottom: 70px;

    a {
        font-weight: bold;
        text-decoration: underline;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    img {
        width: 350px;
        margin-bottom: 10px;
    }
}

.project {
    margin: 20px 0;
}

.links {
    a {
        display: inline-block;
        margin: 10px 15px 10px 0;
        font-family: variables.$h1;
    }
}

.projectsSkills {
    font-family: variables.$h1;
    font-size: .9rem;
    margin-top: 10px;
}