@use './variables';

.projects {
    margin-top: 70px;
    margin-bottom: 70px;
}

.projectsList {
    img {
        border-radius: 25px;
        object-position: 4px;
    }

    li {
        background-color: variables.$liPink;
        border-radius: 30px;
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        align-items: center;
    }

    .projectImg {
        margin-right: 30px;
        width: 400px;
        position: relative;
    }

    .projectDesc {
        width: 60%;
        transition: .3s ease;
    }
}

.projectsSkills {
    font-family: variables.$h1;
    font-size: .9rem;
    margin-top: 10px;
}

.linksBox {
    font-family: variables.$h1;
    text-align: center;
    position: absolute;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 70px;
    background-color: variables.$liOverlay;

    .liveLink {
        margin-right: 10px;
    }

    a {
        display: inline-block;
        transition: .3s ease;
        padding: 5px 8px;
        border-radius: 10px;
        background-color: variables.$primaryPink;
        text-transform: lowercase;
    }

    a:hover,
    a:focus {
        background-color: variables.$linksButtonHover;
    }
}

// dark mode styles
body.darkMode .projectsList li {
    background-color: variables.$darkLi;
}

body.darkMode .linksBox {
    background-color: variables.$darkOverlay;

    a {
        background-color: variables.$darkOverlay;
    }

    a:hover,
    a:focus {
        background-color: variables.$darkButtonHover;
    }
}