html {
    font-size: 125%;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 3rem;
    font-family: 'Averia Serif Libre', cursive;
    text-transform: uppercase;
    transition: .3s ease;
}

h2 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.9rem;
    transition: .3s ease;
}

.skills h2,
.contact h2,
.projects h2 {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

p {
    letter-spacing: .5px;
}

// NAV

.navUl a {
    font-family: 'Averia Serif Libre', cursive;
    text-transform: lowercase;
}