@use './variables';

html {
    font-size: 125%;
    font-family: variables.$body;
}

h1 {
    font-size: 3rem;
    font-family: variables.$h1;
    text-transform: uppercase;
    transition: .3s ease;
}

h2 {
    font-family: variables.$h1;
    font-size: 1.9rem;
    transition: .3s ease;
}

h3 {
    font-family: variables.$h1;
    font-size: 1.2rem;
}

.skills h2,
.contact h2,
.projects h2 {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 3px solid;
}

p {
    letter-spacing: .5px;
}

// NAV

.navUl a {
    font-family: variables.$h1;
    text-transform: lowercase;
}