@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Roboto+Condensed:wght@400;700&display=swap');
// colours

$white: white;
$background: white;
$red: #6e3475;


$hamburger: rgba(0, 0, 0, 0.5);

// fonts
$h1: 'Roboto Condensed', sans-serif;
$body: 'Inter', sans-serif;