@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@400;600;900&family=Roboto+Condensed:wght@400;700&display=swap');
// colours

$white: white;
$background: rgb(147, 179, 242);

$red: #FF0004;

$red2: #F564A9;

$hamburger: rgba(0, 0, 0, 0.5);

// fonts
$h1: 'Darker Grotesque', sans-serif;
$body: 'Inter', sans-serif;