@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
// colours

$primaryPink: rgb(235, 188, 195);
$white: white;
$background: #eeebeb;
// $background: #e3e2df;

$red: #d22121;
// $red: #3500d3;


$hamburger: rgba(0, 0, 0, 0.5);

// fonts
$h1: 'Inter', sans-serif;
$body: 'Inter', sans-serif;