@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@400;600;900&family=Roboto+Condensed:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1260px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.lighttouchImg {
  max-width: 30%;
  border: 2px rgb(207, 199, 199) solid;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

body {
  background-color: rgb(147, 179, 242);
}

header {
  padding: 10px 0;
}

.harlequin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.harlequin a {
  max-width: 150px;
  margin-right: 5px;
}
.harlequin img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 10px 0;
}
.name a {
  width: 400px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.indexName {
  margin: 30px 0 10px 0;
}

.portfolioName {
  margin: 20px 0 0 0;
}

.navUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navUl li {
  margin: 20px;
  font-weight: bold;
}
.navUl li a:hover,
.navUl li a:focus {
  -webkit-text-decoration: 2px dotted #FF0004 underline;
          text-decoration: 2px dotted #FF0004 underline;
}

.current-page {
  -webkit-text-decoration: 2px dotted #FF0004 underline;
          text-decoration: 2px dotted #FF0004 underline;
}

.hamburger {
  display: none;
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.hamburger .closeIcon {
  display: none;
}

html {
  scroll-behavior: smooth;
}

#portfolio a {
  color: #FF0004;
  text-decoration: none;
}
#portfolio p {
  margin: 10px 0;
  width: 80%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#portfolio a:hover,
#portfolio a:focus {
  -webkit-text-decoration: 2px dotted #F564A9 underline;
          text-decoration: 2px dotted #F564A9 underline;
}
#portfolio .projectImg {
  margin-right: 30px;
  width: 400px;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

html {
  font-size: 125%;
  font-family: "Inter", sans-serif;
}

h2 {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.9rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
  letter-spacing: 0.9;
}

h3 {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  margin: 10px 0 5px 0;
  font-weight: 600;
}

h4 {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
  font-weight: 600;
}

.skills h2,
.contact h2,
.projects h2 {
  margin-bottom: 20px;
}

p {
  letter-spacing: 0.3px;
  font-size: 0.85rem;
}

.navUl a {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
}

.overlay {
  opacity: 0.4;
  position: absolute;
  z-index: -100;
}

.introText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.introText h1 {
  margin-top: 70px;
}

.subtitle {
  text-align: center;
  margin-top: 10px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 0.9rem;
}

.home {
  margin-top: 20px;
  margin-bottom: 70px;
}
.home p {
  margin: 10px 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 80%;
}
.home h2 {
  margin-bottom: 20px;
}

.bio span {
  font-family: "Darker Grotesque", sans-serif;
  -webkit-text-decoration: underline dotted #FF0004;
          text-decoration: underline dotted #FF0004;
}

.purple {
  width: 200px;
  height: 200px;
  background-color: #F564A9;
  margin-top: 50px;
  border-radius: 50%;
  -webkit-animation: breathing 7s ease-out infinite normal;
  animation: breathing 7s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.projects {
  margin-top: 20px;
  margin-bottom: 70px;
}

.projectsList li {
  margin: 20px auto;
  padding: 20px 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}
.projectsList .firstProj {
  padding-top: 0;
}
.projectsList .projectImg {
  margin-right: 30px;
  width: 400px;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.projectsList .projectDesc {
  width: 50%;
}
.projectsList .projectDesc .viewLinks a {
  font-weight: 700;
  font-size: 18px;
}
.projectsList .projectDesc .viewLinks a:hover,
.projectsList .projectDesc .viewLinks a:focus {
  -webkit-text-decoration: underline dotted #FF0004;
          text-decoration: underline dotted #FF0004;
}
.projectsList .googleDrive {
  font-weight: 700;
}
.projectsList .googleDrive:hover,
.projectsList .googleDrive:focus {
  -webkit-text-decoration: underline dotted #FF0004;
          text-decoration: underline dotted #FF0004;
}

.projectsSkills {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 0.8rem;
  margin-top: 10px;
}

.liveLink {
  margin-right: 10px;
}

.viewLinks {
  margin-top: 10px;
}

.contact {
  margin-top: 20px;
  margin-bottom: 70px;
}
.contact a {
  -webkit-text-decoration: 2px solid underline;
          text-decoration: 2px solid underline;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contact a:hover,
.contact a:focus {
  text-decoration: none;
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactMe li {
  margin: 20px 0;
}
.contactMe li:not(:first-of-type) {
  margin-left: 20px;
}
.contactMe i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contactMe i:hover,
.contactMe i:focus {
  cursor: pointer;
  color: #F564A9;
}

@media (max-width: 1080px) {
  .home p,
  #portfolio p {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .projectsList li {
    width: 100%;
  }
  .technical-writing-samples {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  header {
    padding: 30px 0;
  }
  .headerBlob {
    left: 20px;
    width: 50px;
  }
  .hamburger {
    display: block;
  }
  .navUl {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 100;
  }
  .showMenu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .skills ul li {
    width: calc(33.3333333333% - 40px);
  }
}
@media (max-width: 856px) {
  .introText h1 {
    font-size: 2.8rem;
  }
  .harlequin a {
    max-width: 100px;
  }
}
@media (max-width: 700px) {
  .name a {
    width: 200px;
    margin: 10px auto;
  }
  .bio {
    margin-top: 10px;
  }
  .introText h1 {
    font-size: 2.2rem;
    margin-top: 15%;
  }
  .projectsList li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectsList .firstProj {
    margin-top: 25px;
  }
  .projectsList .projectImg {
    width: 300px;
    margin-right: 0;
    margin-bottom: -30px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .projectsList .projectDesc {
    width: 100%;
    margin-top: 0;
  }
  .projectsList .projectsSkills {
    margin-top: 15px;
  }
}
@media (max-width: 570px) {
  .introFlex .introText {
    width: 100%;
  }
  .introText h1 {
    font-size: 2rem;
  }
  .introText h2 {
    font-size: 1rem;
  }
  .skills ul li {
    width: calc(50% - 40px);
  }
  .harlequin {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .harlequin a {
    max-width: 200px;
  }
}
@media (max-width: 375px) {
  .introText h2 span,
  .introText h1 span {
    display: block;
  }
  .projectsList li {
    margin-bottom: 30px;
  }
}