html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1260px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

body {
  background-color: rgb(217, 152, 162);
}

.navUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navUl li {
  margin: 20px;
}
.navUl li a:hover,
.navUl li a:focus {
  -webkit-text-decoration: 2px solid underline;
          text-decoration: 2px solid underline;
}

.hamburger {
  display: none;
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.hamburger .closeIcon {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}
footer p span {
  font-style: italic;
}

html {
  font-size: 125%;
  font-family: "EB Garamond", serif;
}

h1 {
  font-size: 3rem;
  font-family: "Averia Serif Libre", cursive;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

h2 {
  font-family: "Averia Serif Libre", cursive;
  font-size: 1.9rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.skills h2,
.contact h2 {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}

p {
  letter-spacing: 0.5px;
}

.navUl a {
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
}

.introText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}
.introText h1 {
  margin-top: 10%;
}

.introFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.introFlex .introImg {
  width: 25%;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 170px;
  position: relative;
  top: 40px;
}
.introFlex .introText {
  width: 75%;
}

.home p {
  margin-bottom: 8px;
}
.home p span {
  font-family: "Averia Serif Libre", cursive;
  cursor: crosshair;
}
.home p span:hover, .home p span:focus {
  color: darkolivegreen;
}

.skills {
  margin-top: 70px;
  margin-bottom: 100px;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills ul li {
  margin: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: calc(20% - 40px);
}
.skills ul p {
  font-family: "Averia Serif Libre", cursive;
  margin-top: 8px;
  color: black;
  font-size: 0.8rem;
  text-align: center;
}
.skills ul span {
  display: block;
}
.skills ul li:hover,
.skills ul li:focus {
  color: darkolivegreen;
  cursor: crosshair;
}

.contact {
  margin-top: 70px;
}
.contact a {
  -webkit-text-decoration: 2px solid underline;
          text-decoration: 2px solid underline;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contact a:hover,
.contact a:focus {
  text-decoration: none;
  color: darkolivegreen;
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactMe li {
  margin: 20px;
}
.contactMe li a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contactMe li a:hover,
.contactMe li a:focus {
  color: darkolivegreen;
  cursor: pointer;
}

@media (max-width: 950px) {
  .introText h1 span {
    display: block;
  }
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .navUl {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 100;
  }
}
.introText h2 {
  font-size: 1.2rem;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.skills ul li {
  width: calc(33.3333333333% - 40px);
}

@media (max-width: 700px) {
  .introText h1 {
    font-size: 2.5rem;
    margin-top: 20%;
  }
  .introText h2 {
    font-size: 1rem;
  }
}
@media (max-width: 570px) {
  .introFlex {
    position: relative;
  }
  .introFlex .introImg {
    position: absolute;
    right: -30px;
  }
  .introFlex .introText {
    width: 100%;
  }
  .introText h1 {
    font-size: 2rem;
  }
  .introText h2 {
    font-size: 1rem;
  }
  .skills ul li {
    width: calc(50% - 40px);
  }
}
@media (max-width: 450px) {
  .introFlex .introImg {
    display: none;
  }
}
@media (max-width: 375px) {
  .introText h2 span {
    display: block;
  }
}